.container
    background-color: grey
    width: 1000px
    margin: 0 auto
    display: grid
    grid-template-rows: 100px 200px 400px 100px
    grid-template-columns: repeat(3, 1fr) 200px
    gap: 20px
    & > *
        background-color: blue
        padding: 20px
        font-size: 20px
        font-family: sans-serif
        color: white
.header
    grid-column: 1 / -1
.sidebar
    grid-column: 4 / -1
    grid-row: 2 / 4
.main
    grid-column: 1 / span 3
.footer
    grid-column: 1 / -1