.container
    background-color: grey
    width: 1000px
    margin: 0 auto
    display: grid
    grid-template-rows: [header-start] 100px [header-end box-start] 200px [box-end main-start]400px [main-end footer-start] 100px [main-end]
    grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 200px [grig-col-end]
    gap: 20px
    & > *
        background-color: blue
        padding: 20px
        font-size: 20px
        font-family: sans-serif
        color: white
.header
    grid-column: col-start 1 / grig-col-end
.sidebar
    grid-column: col-end 3 / grig-col-end
    grid-row: box-start / main-end
.main
    grid-column: col-start 1 / col-end 3
.footer
    grid-column: col-start 1 / grig-col-end