.container
    background-color: grey
    width: 1000px
    margin: 0 auto
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(8, 1fr)
    gap: 20px
.item
    padding: 20px
    font-size: 30px
    font-family: sans-serif
    color: white
    background-color: blue
    &__header
        grid-column: 1 / -1
    &__box-1, &__box-2, &__box-3
        grid-row: span 2
    &__sidebar
        grid-row: span 6
    &__main
        grid-area: 4 / 1 / 8 / 4
    &__footer
        grid-column: 1 / -1

